////
/// Media definitions.
/// @copyright Simon Finney 2019
////

// TODO: Document

@mixin media-query($breakpoint) {
  @media only screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

// TODO: Document

@mixin print {
  @media print {
    @content;
  }
}
