////
/// Sizing definitions.
/// @copyright Simon Finney 2019
////

/// Breakpoints.
/// @type Map<Length>
$breakpoints: (
  md: 60rem,
);

/// Returns a value from the breakpoint map.
/// @param {String} $breakpoint - The breakpoint to return.
/// @returns {Length} - The breakpoint from the breakpoint map.

@function breakpoint-get($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

/// Unit size.
/// @type Length
$unit__size: 8px;

/// Sizing sizes.
/// @type Map<Length>
$sizing__sizes: (
  none: (
    $unit__size * 0,
  ),
  xxsm: (
    $unit__size / 4,
  ),
  xs: (
    $unit__size / 2,
  ),
  sm: $unit__size,
  md: (
    $unit__size * 2,
  ),
  lg: (
    $unit__size * 4,
  ),
);

/// Returns a value from the sizing map.
/// @param {String} $sizing - The sizing to return.
/// @returns {Length} - The sizing from the sizing map.

@function sizing-get($sizing) {
  @return map-get($sizing__sizes, $sizing);
}
