////
/// Typography definitions.
/// @copyright Simon Finney 2019
////

/// Font family stack.
/// @type Map<String>
$font__family--stack: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
);

/// Font family.
/// @type String
$font__family: $font__family--stack;

/// Desired font size.
/// @type Length
$font__size--desired: 16;

/// Font sizes.
/// @type Map<Length>
$font__sizes: (
  small: 0.75,
  large: 1.5,
  extra-large: 2,
);

/// Returns a value from the font size map.
/// @param {String} $font-size - The font size to return.
/// @returns {Length} - The font size from the font size map.

@function font-size-get($font-size) {
  @return map-get($font__sizes, $font-size);
}

/// Produces a font size in pixel and rem units.
/// @param {Length} $font-size - The font size to use.
/// @param {String} $property [font-size] - The property to generate.
/// @example scss
///   a {
///     @include font-size(font-size-get(small));
///   }
/// @output css
///   a {
///     font-size: 12px;
///     font-size: 0.75rem;
///   }

@mixin font-size($font-size, $property: font-size) {
  #{$property}: ($font__size--desired * $font-size) + px;
  #{$property}: $font-size + rem;
}

/// Font weights.
/// @type Map<Length>
$font__weights: (
  light: 300,
  bold: 600,
);

/// Returns a value from the font weight map.
/// @param {String} $font-weight - The font weight to return.
/// @returns {Length} - The font weight from the font weight map.

@function weight-get($font-weight) {
  @return map-get($font__weights, $font-weight);
}

/// Line height.
/// @type Length
$font__line-height: 1.5;
