<aside>
	<h3>Posts</h3>
	<ol class="posts">
	  {% for post in site.posts %}
	  <li>
	    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  </li>
	  {% endfor %}
	</ol>
	<h3>Links</h3>
	<ul class="links">
		<li>
			<a href="http://github.com/{{ site.author.github }}" target="_blank">GitHub</a>
		</li>
    <li>
		  <a href="https://drive.google.com/folderview?id=0BzA9UyHASmcNRjFEWjltV3M5cEE&usp=sharing" target="_blank">Google Drive</a>
		</li>
		<li>
			<a href="http://twitter.com/{{ site.author.twitter }}" target="_blank">Twitter</a>
		</li>
	</ul>
</aside>
