{
  "env": { "browser": true },
  "extends": ["airbnb/base", "prettier"],
  "globals": {
    "graphql": true
  },
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
