# Dependencies.
node_modules

# Generated directories.
.cache
public

# Logs.
*.log

# Operating system.
.DS_Store

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/unplugged
.yarn/install-state.gz
