////
/// Heading 1 styles.
/// @copyright Simon Finney 2019
////

@import '../../globals/colour', '../../globals/typography';

/// Colour.
/// @type Color
$h1__colour: colour-get(brand--primary);

/// Font weight.
/// @type Length
$h1__font__weight: weight-get(light);

h1 {
  font-weight: $h1__font__weight;
  color: $h1__colour;
}
