////
/// Aside component styles.
/// @copyright Simon Finney 2019 - 2020
////

@import '../../globals/media', '../../globals/sizing';

/// List style.
/// @type String
$aside__list__style: none;

.aside {
  &--articles {
    @include print {
      display: none;
    }
  }

  &__list {
    padding-left: sizing-get($sizing: none);
    list-style: $aside__list__style;

    @include print {
      /// List padding.
      /// @type Length
      $aside__list__padding: sizing-get(
        $sizing: md,
      );

      padding-left: $aside__list__padding;

      // TODO: Mixin.

      > li {
        position: relative;

        &::before {
          position: absolute;
          left: -$aside__list__padding;
          content: '–';
        }
      }
    }
  }
}
