////
/// Aside component styles.
/// @copyright Simon Finney 2019
////

@import '../../globals/media', '../../globals/sizing';

/// List style.
/// @type String
$aside__list__style: none;

/// List padding.
/// @type Length
$aside__list__padding: sizing-get(
  $sizing: none,
);

.aside {
  &__list {
    padding-left: $aside__list__padding;
    list-style: $aside__list__style;

    @include print {
      list-style: initial;
    }
  }
}
