// Base

body {
	margin-right: auto;
	margin-left: auto;
	max-width: 1024px;
	background-color: colour-get('white');
}

a,
a:hover,
a:visited {
	color: colour-get('blue');
}

a {
	text-decoration: none;
}

a:hover {
	border-bottom: .062rem dashed colour-get('blue'); // 1px / 16px
}

aside {
	float: left;
	width: 30%;
}

blockquote {
  position: relative;
  margin-left: 24px;
  color: colour-get('grey');
  font-style: italic;

  &:before {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: colour-get('black');
    content: '';
  }

  p {
    padding-left: 16px;
  }
}

figcaption {
  margin-bottom: 8px;
  color: colour-get('grey');
}

h1 {
  $margin: 20px;
  @include heading-margin($margin);
}

h2 {
  $margin: 12px;
  @include heading-margin($margin);
}

h3 {
  $margin: 8px;
  @include heading-margin($margin);
}

img {
  max-width: 100%;
}

main {
	float: left;
	margin-right: 4%;
	width: 66%;
}

nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

ol,
ul {
	margin-top: 5px;
}

.links,
.posts {
  padding-left: 0;
  list-style: none;
}

span {
	color: colour-get('grey');
	font-style: italic;
}

time {
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {

	body {
		margin-right: 5%;
		margin-left: 5%;
	}

	aside {
		float: initial;
		width: initial;
	}

	main {
		float: initial;
		margin-right: initial;
		width: initial;
	}
}
