// Mixins

@mixin font-size($font-size: $desired-base-font) {
	font-size: ($desired-base-font * $font-size) + px;
	font-size: $font-size + rem;
}

@mixin heading-margin($margin, $margin-divider: 4) {
  margin-top: $margin;
  margin-bottom: ($margin / $margin-divider);
}
