// Variables

$inconsolata: 'Inconsolata';
$open-sans: 'Open Sans';

$sans-serif-fallback: Helvetica, Arial, sans-serif;
$serif-fallback: 'Times New Roman', Times, serif;

$base-font-family: $open-sans, $sans-serif-fallback;
$base-font: 100%; // 16px
$desired-base-font: 16;

$heading-font-family: $inconsolata, $serif-fallback;
