////
/// Header component styles.
/// @copyright Simon Finney 2019
////

@import '../../globals/colour', '../../globals/media', '../../globals/sizing';

.header {
  border-bottom: sizing-get($sizing: xs) solid
    colour-get($colour: brand--secondary);

  &__title {
    @include font-size($font-size: font-size-get($font-size: extra-large));

    display: block;
    margin-top: sizing-get($sizing: lg);
    margin-bottom: sizing-get($sizing: xs);
    font-weight: weight-get($font-weight: light);
  }

  &__subtitle {
    display: block;
  }

  &__ul {
    padding-left: sizing-get($sizing: none);

    @include print {
      display: none;
    }
  }

  &__li {
    display: inline-block;
    margin-right: sizing-get($sizing: md);
  }

  &__a {
    color: colour-get($colour: text--primary);

    &:focus,
    &:hover,
    &--active {
      color: colour-get($colour: brand--primary);
    }

    &:focus,
    &:hover {
      text-decoration: initial;
    }
  }
}
