////
/// Link styles.
/// @copyright Simon Finney 2019
////

@import '../globals/colour', '../globals/iconography', '../globals/media',
  '../globals/sizing', '../globals/typography';

/// Colour.
/// @type Color
$a__colour: colour-get(
  $colour: brand--primary,
);

/// Font weight.
/// @type Length
$a__font__weight: weight-get(
  $font-weight: bold,
);

/// Icon size.
/// @type Length
$a__icon__size: icon-sizes-get(
  $icon-size: sm,
);

/// Icon margin.
/// @type Length
$a__icon__margin: sizing-get(
  $sizing: sm,
);

a {
  font-weight: $a__font__weight;
  text-decoration: none;
  color: $a__colour;
  transition: 0.1s;
  text-decoration-skip-ink: auto;

  @each $icon in $icons {
    @include icon($icon-type: $icon);
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &[data-icon] {
    &::before {
      display: inline-block;
      width: $a__icon__size;
      height: $a__icon__size;
      margin-right: $a__icon__margin;
      vertical-align: middle;
      background-repeat: no-repeat;
      content: '';
      background-size: cover;

      @include print {
        display: none;
      }
    }
  }
}
