////
/// Aside styles.
/// @author Simon Finney <simonjfinney@gmail.com>
/// @copyright Simon Finney 2017
////

@import '../globals/media', '../globals/sizing';

/// Breakpoint.
/// @type Length
$aside__breakpoint: breakpoint-get(medium);

@include media-query($aside__breakpoint) {
  aside {
    float: left;
    width: 33%;
  }
}
