////
/// Aside styles.
/// @copyright Simon Finney 2019
////

@import '../globals/media', '../globals/sizing';

/// Breakpoint.
/// @type Length
$aside__breakpoint: breakpoint-get(
  $breakpoint: medium,
);

@include media-query($breakpoint: $aside__breakpoint) {
  aside {
    float: left;
    width: 33%;
  }
}
