////
/// Blockquote styles.
/// @copyright Simon Finney 2019
////

@import '../globals/colour', '../globals/sizing';

/// Margin.
/// @type Length
$blockquote__margin: sizing-get(
  $sizing: none,
);

/// Padding.
/// @type Length
$blockquote__padding: sizing-get(
  $sizing: md,
);

/// Style.
/// @type String
$blockquote__style: italic;

/// Before background colour.
/// @type Color
$blockquote__before__colour__background: colour-get(
  $colour: brand--primary,
);

/// Before position left.
/// @type Length
$blockquote__before__position--left: sizing-get(
  $sizing: none,
);

/// Before position top.
/// @type Length
$blockquote__before__position--top: sizing-get(
  $sizing: none,
);

/// Breakpoint.
/// @type Length
$blockquote__before__size: sizing-get(
  $sizing: xs,
);

blockquote {
  position: relative;
  margin-left: $blockquote__margin;
  padding-right: $blockquote__padding;
  padding-left: $blockquote__padding;
  font-style: $blockquote__style;

  &::before {
    display: inline-block;
    position: absolute;
    top: $blockquote__before__position--top;
    left: $blockquote__before__position--left;
    width: $blockquote__before__size;
    height: 100%;
    background-color: $blockquote__before__colour__background;
    content: '';
  }
}
