////
/// Body styles.
/// @copyright Simon Finney 2019
////

@import '../globals/colour', '../globals/sizing';

/// Background colour.
/// @type Color
$body__colour__background: colour-get(
  $colour: colour__background,
);

/// Margin.
/// @type String
$body__margin: auto;

/// Padding.
/// @type <List>Length
$body__padding: sizing-get(
    $sizing: none,
  )
  sizing-get(
    $sizing: lg,
  );

body {
  max-width: 1024px;
  margin-right: $body__margin;
  margin-left: $body__margin;
  padding: $body__padding;
  background-color: $body__colour__background;
}
