////
/// Figure caption styles.
/// @copyright Simon Finney 2019
////

@import '../globals/typography';

/// Font size.
/// @type Length
$figcaption__font__size: font-size-get(
  $font-size: small,
);

figcaption {
  @include font-size($font-size: $figcaption__font__size);
}
