////
/// Main styles.
/// @copyright Simon Finney 2019
////

@import '../globals/media', '../globals/sizing';

/// Breakpoint.
/// @type Length
$main__breakpoint: breakpoint-get(
  $breakpoint: md,
);

/// Margin.
/// @type Length
$main__margin: sizing-get(
  $sizing: lg,
);

/// Width.
/// @type Length
$main__width: calc(66% - #{$main__margin});

@include media-query($breakpoint: $main__breakpoint) {
  main {
    float: left;
    width: $main__width;
    margin-right: $main__margin;
  }
}
