////
/// Ordered list styles.
/// @copyright Simon Finney 2019
////

@import '../globals/sizing';

/// Padding.
/// @type Length
$ol__padding: sizing-get(
  $sizing: md,
);

ol {
  padding-left: $ol__padding;
}
