////
/// Unordered list styles.
/// @copyright Simon Finney 2019 - 2020
////

@import '../globals/sizing';

/// Padding.
/// @type Length
$ul__padding: sizing-get(
  $sizing: md,
);

.ul {
  padding-left: $ul__padding;
  list-style: none;

  // TODO: Mixin.

  > li {
    position: relative;

    &::before {
      position: absolute;
      left: -$ul__padding;
      content: '–';
    }
  }
}
