////
/// Archive component styles.
/// @copyright Simon Finney 2019 - 2020
////

@import '../globals/colour', '../globals/sizing';

.archive {
  /// Border style.
  /// @type List<*>
  $archive__border: sizing-get(
      $sizing: xxs,
    )
    solid
    colour-get(
      $colour: brand--secondary,
    );

  padding: sizing-get($sizing: none);
  list-style: none;

  > li {
    /// Archive padding.
    /// @type Length
    $archive__sizing__padding: sizing-get(
      $sizing: xs,
    );

    display: inline-block;
    padding-top: $archive__sizing__padding;
    padding-bottom: $archive__sizing__padding;
    border-bottom: $archive__border;

    &:first-of-type {
      border-top: $archive__border;
    }
  }
}
