////
/// Services component styles.
/// @copyright Simon Finney 2019 - 2020
////

@import '../globals/colour', '../globals/media', '../globals/sizing';

.services {
  /// List item margin.
  /// @type Length
  $services__li__margin: sizing-get(
    $sizing: sm,
  );

  overflow: auto;
  padding-left: sizing-get($sizing: none);
  list-style: none;

  > li {
    display: inline-block;
    margin-right: $services__li__margin;
    margin-bottom: $services__li__margin;
    padding: sizing-get($sizing: sm);
    background-color: colour-get($colour: brand--secondary);

    @include print {
      font-weight: weight-get($font-weight: bold);
    }
  }
}
