////
/// Skills component styles.
/// @copyright Simon Finney 2019
////

@import '../globals/colour', '../globals/media', '../globals/sizing';

.skills {
  /// List item margin.
  /// @type Length
  $skills__li__margin: sizing-get(
    $sizing: sm,
  );

  overflow: auto;
  padding-left: sizing-get($sizing: none);
  list-style: none;

  > li {
    display: inline-block;
    margin-right: $skills__li__margin;
    margin-bottom: $skills__li__margin;
    padding: sizing-get($sizing: sm);
    background-color: colour-get(brand--secondary);

    @include print {
      font-weight: weight-get(bold);
    }
  }
}
