////
/// Footer component styles.
/// @copyright Simon Finney 2019
////

@import '../../globals/sizing';

.footer {
  /// Section margin.
  /// @type Length
  $footer__section__margin: sizing-get(
    $sizing: md,
  );

  &__section {
    &--next,
    &--previous {
      width: calc(50% - #{$footer__section__margin});
    }

    &--next {
      float: right;
      margin-left: $footer__section__margin;
      text-align: right;
    }

    &--previous {
      float: left;
      margin-right: $footer__section__margin;
    }
  }
}
