////
/// Styles.
/// @copyright Simon Finney 2019 - 2020
////

@import '../node_modules/reset-css/sass/reset';

$accent-color: #93cfec;
$background-color: #0f1219;
$heading-color: #f6c97c;
$text-color: #a7aeca;

@import '../src/components/Features/index';
@import '../src/components/Feature/index';

body {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  color: $text-color;
  background-color: $background-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fira Code', monospace;
}

.title {
  font-weight: bold;
}

h2,
h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24px;
}

h1 {
  font-size: 16px;
}

h2 {
  width: 100%;

  @media (min-width: 768px) {
    font-size: 72px;
    line-height: 1.15;
  }
}

h4 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: bold;
}

a {
  position: relative;
  text-decoration: none;
  color: $accent-color;

  &::before {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 0;
    background-color: darken($color: $background-color, $amount: 3);
    content: '';
    transition: 0.3s width;
  }

  &:focus,
  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.a--active {
  font-weight: bold;
}

header,
footer {
  display: flex;
  position: sticky;
  z-index: 9999;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $background-color;
  align-items: center;
}

header {
  top: 0;
}

nav {
  margin-left: auto;

  li {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: 24px;
    }
  }
}

.section {
  padding-top: 144px;
  padding-bottom: 144px;

  @media (min-width: 768px) {
    padding-top: 224px;
    padding-bottom: 224px;
  }
}

.description {
  max-width: 640px;
  font-size: 20px;
  line-height: 1.3;
}

.display {
  &--odd {
    color: #bd9be3;
  }

  &--even {
    color: $heading-color;
  }
}

.Typist {
  display: inline;
}

footer {
  bottom: 0;
  border-top: 1px solid darken($color: $text-color, $amount: 50);
}
